[Unit]
Description=MarkdownSite Web Panel Service
After=postgresql.target

[Service]
User=manager
Group=manager

ExecStart=hypnotoad script/mds-manager
ExecReload=hypnotoad script/mds-manager
WorkingDirectory=/home/manager/markdownsite/Manager

Restart=on-failure
Type=forking
KillMode=process

[Install]
WantedBy=multi-user.target
