[Unit]
Description=MarkdownSite Web Panel Service
After=postgresql.target

[Service]
User=manager
Group=manager

ExecStart=hypnotoad script/mds-panel
ExecReload=hypnotoad script/mds-panel
WorkingDirectory=/home/manager/markdownsite/Panel

Restart=on-failure
Type=forking
KillMode=process

[Install]
WantedBy=multi-user.target
