server {
    listen 443 ssl;
    server_name {{ graphite.domain }};

    # SSL Options
    ssl_certificate /etc/letsencrypt/live/{{ domain.system }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ domain.system }}/privkey.pem;

    ssl_session_cache shared:le_nginx_SSL:10m;
    ssl_session_timeout 1440m;
    ssl_session_tickets off;

    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_prefer_server_ciphers off;

    ssl_ciphers "ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384";

    ssl_dhparam /etc/nginx/ssl-dhparams.pem;
    
    auth_basic           "Graphite Login";
    auth_basic_user_file /etc/nginx/auth.basic;

    location /static/ {
        alias /opt/graphite/webapp/content/;
    }

    location / {
        include uwsgi_params;
        uwsgi_pass localhost:8080;
    }
}

server {
    listen 80;
    server_name {{ graphite.domain }};
    return 301 https://$host$request_uri;
}
