$HTTP["host"] =~ "^{% raw %}{{ site.domain }}{% endraw %}$" {
    $SERVER["socket"] == ":443" {
        # SSL Settings
        ssl.engine  = "enable"
        ssl.pemfile = "/etc/letsencrypt/live/{{ domain.hosted }}/cert.pem"
        ssl.ca-file = "/etc/letsencrypt/live/{{ domain.hosted }}/fullchain.pem"
        ssl.privkey = "/etc/letsencrypt/live/{{ domain.hosted }}/privkey.pem"

        # Docroot & Logs.
        server.document-root = "/var/www/{% raw %}{{ site.domain }}{% endraw %}/html"
        server.errorlog      = "/var/log/lighttpd/{% raw %}{{ site.domain }}{% endraw %}.error.log"
        accesslog.filename   = "/var/log/lighttpd/{% raw %}{{ site.domain }}{% endraw %}.access.log"

        # Pass to Markdown::CGI if there is no static file to serve.
        magnet.attract-physical-path-to = ( "/etc/lighttpd/rewrite.lua" )
    }

    # Redirect http -> https
    $SERVER["socket"] == ":80" {
        url.redirect = ( "^/(.*)" => "https://{% raw %}{{ site.domain }}{% endraw %}/$1" )
    }
}
