[Unit]
Description=MarkdownSite Worker Service
After=postgresql.target

[Service]
User=minion
Group=minion

ExecStart=mds-manager minion worker
WorkingDirectory=/home/minion

Restart=on-failure

[Install]
WantedBy=multi-user.target
